body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrar todo el texto */
    background-color: #f0f0f0; /* Fondo gris claro */
}

header {
    background-color: black;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.title-container {
    padding: 20px;
}

.title-container h1 {
    color: red;
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: red;
    transform: scale(1.1);
}

.section {
    padding-top: 20px; /* Reducir el padding para acercar el contenido a la barra de navegación */
    margin: 0 auto; /* Centrar la sección */
    max-width: 800px; /* Ancho máximo para centrar */
}


.content {
    text-align: justify; /* Justificar el texto para mejor apariencia */
    padding: 10px;
}

.blog-image {
    float: left; /* Flotar la imagen a la izquierda */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
    width: 30%; /* Ajustar el tamaño de la imagen */
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 30px auto 0; /* Baja el contenedor un poco y lo centra horizontalmente */
    align-items: center; /* Centra verticalmente el grupo de imágenes */
}

.image-wrapper {
    width: calc(48% - 20px); /* Ajusta el ancho de cada contenedor de imagen y texto */
    text-align: center;
    margin-bottom: 40px; /* Aumenta el espacio entre las imágenes */
}

.image-wrapper img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.image-wrapper p {
    margin: 10px 0 0; /* Añade espacio encima del texto */
}

/* Ajustes para dispositivos de pantalla pequeña */
@media (max-width: 768px) {
    .image-wrapper {
        width: calc(100% - 20px); /* En dispositivos pequeños, una imagen por fila */
    }
}

footer .social-icons img {
    width: 200px; /* Cambia el tamaño de la imagen a 100px */
    height: auto;
    margin-top: -70px;
}